@import '../../../assets/css/variables';
@import '../../../assets/css/_mixins';

.HomePage-promotions{
    @include flex-column-center-center;
    width: 100%;
    background-color: $white;
    margin: .5rem 0;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));

    .Container-title{
        width: 100%;
        padding: 1rem 0;

        text-align: center;
        font-size: $font-size-normal;
        font-weight: 500;
    }

    &-banners{
        @include flex-row-space-around-center;
        width: 100%;
        margin: 0 0 3% 0;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));

        @include mq-medium{
            @include flex-column-start-center;
            gap: 1rem;
            margin: 0;
        }

        .Promotion-image{
            width: 25%;
            height: auto;
            transition: .2s;

            @include mq-medium{
                width: 80%;
                height: auto;
            }
        }

        .Promotion-image:hover{
            scale: 1.1;
            opacity: .7;
            cursor: pointer;
        }
        
    }
}