@import '../../assets/css/variables';
@import '../../assets/css/_mixins';

.ProductPage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

    .ProductPage-container{
        flex: 1;
        padding: 1rem 20%;

        .Grid-wrapper{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 1rem;

            @include mq-small{
                @include flex-column-center-center;
                margin: 1rem;
            }

            .First-section{
                grid-column-start: 1;
                grid-column-end: 2;

                @include flex-row-start-center;
                flex-wrap: wrap;
                height: max-content;
                padding: 1rem;

                img{
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                    cursor: pointer;
                }
                :nth-child(1){
                    width: 100%;
                    height: auto;
                    margin-bottom: 1rem;
                }
                :nth-child(n+2){
                    width: 20%;
                    height: auto;
                    margin: .2rem;
                }
            }

            .Second-section{
                grid-column-start: 2;
                grid-column-end: 3;

                @include flex-column-center-start;
                padding: 1rem;
                gap: 1rem;
                min-width: 22rem;

                .Row-1{
                    width: 100%;

                    .Title{
                        width: 100%;
                        text-align: center;
                        font-size: $font-size-medium;
                    }
                }

                .Row-2{
                    @include flex-row-start-center;
                    width: 100%;
                    gap: 1rem;
                    
                    .Price{
                        font-family: 'Roboto', sans-serif;
                        font-size: $font-size-medium;
                        color: $red;
                    }

                }

                .Row-3{
                    @include flex-column-start-center;
                    width: 100%;

                    .Attributes-container{
                        @include flex-column-start-start;
                        width: 100%;
                        gap: 1rem;

                        .Attribute{
                            @include flex-column-center-start;
                            gap: .2rem;

                            .Name{
                                font-size: $font-size-smaller;
                                font-weight: 500;
                            }
                            
                            .Values{
                                @include flex-row-start-center;
                                flex-wrap: wrap;
                                gap: .2rem;

                                .Value{
                                    background-color: $white;
                                    padding: .5rem;
                                    border: 1px solid rgba(0,0,0,0.24);
                                    border-radius: 0.2rem;

                                    font-size: $font-size-small;

                                    transition: .2s all;
                                    cursor: pointer;
                                }
                                .Value:hover{
                                    background-color: $lighter-gray;
                                }

                                .Value[selected="true"]{
                                    background-color: $black;
                                    color: $white;
                                }
                            }
                            
                        }
                        
                    }
                }

                .Row-4{
                    @include flex-row-start-center;
                    width: 100%;
                    gap: 1rem;

                    Button{
                        padding: .5rem 1rem;
                        border: none;
                        outline: none;
                        border-radius: 0.2rem;
                        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
                        
                        white-space: nowrap;

                        font-size: $font-size-small;
                        font-weight: 500;
                    }

                    .Add-to-cart{
                        border: 1px solid rgba(0,0,0,0.24);

                        background-color: $white;
                        color: $black;

                        cursor: pointer;
                        transition: .2s all;
                    }
                    .Add-to-cart:hover{
                        background-color: $lighter-gray;
                    }

                    .Buy{
                        background-color: $black;
                        color: $white;

                        cursor: pointer;
                        transition: .2s all;
                    }
                    .Buy:hover{
                        background-color: $opaque-black;
                    }

                }

                .Row-5{
                    @include flex-column-center-center;
                    width: 100%;

                    .Warning{
                        width: 100%;
                        font-size: $font-size-smaller;
                    }
                }
                
            }

            .Third-section{
                grid-column-start: 1;
                grid-column-end: 3;

                @include flex-column-center-center;
                width: 100%;

                .Title{
                    text-align: center;
                    font-size: $font-size-medium;
                    font-weight: 500;
                }

                .Description{
                    width: 100%;
                }
            }

            .Fourth-section{
                grid-column-start: 1;
                grid-column-end: 3;
            }   

        }

    }

}