@import '../../assets/css/variables';
@import '../../assets/css/_mixins';

.HomePage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.HomePage-container{
    @include flex-column-start-center;
    width: 100%;
    flex-grow: 1;
}
