.SignupPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.SignupPage .NavBar-banner-sentence {
  background: radial-gradient(ellipse at right bottom, #b3178c 0%, #400f57 50%, #030243 100%);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 1.2rem;
}
.SignupPage .NavBar-banner-sentence .Normal-word {
  color: rgb(0, 0, 0);
}
.SignupPage .NavBar-banner-sentence .Coloured-word {
  color: transparent;
}
.SignupPage .SignupBG {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: radial-gradient(ellipse at right bottom, #b3178c 0%, #400f57 50%, #030243 100%);
}
.SignupPage .InfoSignup {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  max-height: 30rem;
  margin: 2rem;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 576px) {
  .SignupPage .InfoSignup {
    width: 100%;
    max-height: 100%;
    margin: 0;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
  }
}
.SignupPage .InfoSignup[big=true] {
  max-height: -moz-max-content;
  max-height: max-content;
}
.SignupPage .InfoSignup h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.SignupPage .InfoSignup .NameInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.SignupPage .InfoSignup .BirthDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.SignupPage .InfoSignup .BirthDateTitle {
  margin-bottom: 0.5rem;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.SignupPage .InfoSignup .Next-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .SignupPage .InfoSignup .Next-button {
    flex: none;
  }
}
.SignupPage .InfoSignup .Signup-button {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .SignupPage .InfoSignup .Signup-button {
    flex: none;
  }
}
.SignupPage .InfoSignup .Button {
  width: 50%;
  margin-top: 2rem;
  padding: 0.7rem 0;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 1rem;
  transition: 200ms;
  cursor: pointer;
}
@media only screen and (max-width: 576px) {
  .SignupPage .InfoSignup .Button {
    width: 40%;
    margin-top: 2rem;
  }
}
.SignupPage .InfoSignup .Button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  scale: 0.9;
}
.SignupPage .InfoSignup .Response-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.SignupPage .InfoSignup .Response-message[visible=false] {
  visibility: hidden;
}
.SignupPage .InfoSignup .Response-message[visible=true] {
  visibility: visible;
}
.SignupPage .InfoSignup .Or {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 1rem;
  margin: 1rem;
}
.SignupPage .InfoSignup .Or .Line {
  flex: 1;
  border-top: 1px solid rgb(0, 0, 0);
}
.SignupPage .InfoSignup .Or .OrWord {
  font-size: 1.2rem;
  font-weight: 500;
}
.SignupPage .Login-with-google-facebook {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.85);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: help;
}
.SignupPage .Login-with-google-facebook img {
  width: 1.8rem;
  height: 1.8rem;
}
.SignupPage .Login-with-google-facebook span {
  font-size: 1rem;
}
.SignupPage .Politcs {
  width: 70%;
  font-size: smaller;
}
.SignupPage .Politcs span {
  color: rgb(29, 155, 240);
  cursor: help;
}
@media only screen and (max-width: 576px) {
  .SignupPage .Footer {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */