@import '../../assets/css/variables';
@import '../../assets/css/_mixins';

.SignupPage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .NavBar{
        &-banner{
            &-sentence{
                background: radial-gradient(ellipse at right bottom, #b3178c 0%, #400f57 50%, #030243 100%);
                background-clip: text;
                -webkit-background-clip: text;
                font-size: $font-size-normal;
            
                .Normal-word{
                    color: $black;
                }
                .Coloured-word{
                    color: transparent;
                }
            }
        }
    }

    .SignupBG{
        flex-grow: 1;
        @include flex-column-center-center;
        width: 100%;
        background: radial-gradient(ellipse at right bottom, #b3178c 0%, #400f57 50%, #030243 100%);

    }

    .InfoSignup{
        flex: 1;
        @include flex-column-center-center;
        width: 25rem;
        max-height: 30rem;
        margin: 2rem;
        padding: 2rem;
        border: 1px solid $thinner-black;
        border-radius: .5rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: $white;
    
        @include mq-small{
            width: 100%;
            max-height: 100%;
            margin: 0;
            border-radius: 0;
    
            background-color: $white;
            box-shadow: none;
        }
     
    }

    .InfoSignup[big="true"]{
        max-height: max-content;
    }
     
    .InfoSignup h1{
        margin-bottom: 2rem;
        
        font-size: $font-size-large;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
    }

    .InfoSignup .NameInputs{
        @include flex-row-center-center;
        width: 100%;
        gap: 2rem;
    }

    .InfoSignup .BirthDate{
        @include flex-column-center-center;
        width: 100%;
        margin-bottom: 1rem;
    }

    .InfoSignup .BirthDateTitle{
        margin-bottom: .5rem;

        color: $black;
        font-size: $font-size-small;
        font-weight: 500;
        font-family: "Raleway", sans-serif;
    }

    .InfoSignup .Next-button{
        @include flex-column-center-center;
        width: 100%;

        @include mq-small{
            flex:none;
        }
    }

    .InfoSignup .Signup-button{
        flex: 1;
        @include flex-column-end-center;
        width: 100%;

        @include mq-small{
            flex:none;
        }
    }
    
    .InfoSignup .Button{
        width: 50%;
        margin-top: 2rem;
        padding: 0.7rem 0;
        border-radius: 5px;
    
        background-color: $black;
        color: $white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
       
        font-size: $font-size-small;
        
        transition: 200ms;
        cursor: pointer;
    
        @include mq-small{
            width: 40%;
            margin-top: 2rem;
        }
    }
    .InfoSignup .Button:hover{
        background-color: $white;
        color: $black;
        scale: (0.9);
    }

    .InfoSignup .Response-message{
        @include flex-column-center-center;
        margin-top: 1rem;
    }
    .InfoSignup .Response-message[visible="false"]{
        visibility: hidden;
    }
    .InfoSignup .Response-message[visible="true"]{
        visibility: visible;
    }

    .InfoSignup .Or{
        @include flex-row-center-center;
        width: 90%;
        gap: 1rem;
        margin: 1rem;
    
        .Line{
            flex: 1;
            border-top: 1px solid $black;
        }

        .OrWord{
            font-size: $font-size-normal;
            font-weight: 500;
        }
    }

    .Login-with-google-facebook{
        @include flex-row-start-center;
        width: 100%;
        gap: 1rem;
        border: 1px solid $opaque-black;
        border-radius: .5rem;
        padding: .5rem;
        margin-bottom: .5rem;
        //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        cursor: help;

        img{
            @include icon-large;
        }

        span{
            font-size: $font-size-small;
        }
    }

    .Politcs{
        width: 70%;
        font-size: smaller;

        span{
            color: $blue;
            cursor: help;
        }
    }

    .Footer{
        @include mq-small{
            display: none;
        }
    }

}