@import '../../assets/css/variables';
@import '../../assets/css/_mixins';

    
.Styled-input{
    @include flex-column-center-start;
    position: relative;
    margin-top: .5rem;
    width: 100%;

    input{
        font-size: $font-size-small;
        width: 100%;
        padding: 1.5rem .5rem .5rem .5rem;
        border: 1px solid $thin-black;
        border-radius: 0.2rem;
    }

    span{
        font-size: $font-size-small;
        color: $gray;
        position: absolute;
        left: .5rem;
        top: 1rem;
        pointer-events: none;
        transition: .2s;
    }

    p{
        display: none;
        font-size: $font-size-smaller;
        color: $red;
    }

    input:focus{
        outline: 1px solid $black;
        border: 1px solid $black;
    }
    
    input:focus + span{
        font-size: $font-size-smaller;
        color: $black;
        top: 0.2rem;
    }

    input:valid{
        outline: 1px solid $green;
        border: 1px solid $green;
    }

    input:valid + span{
        font-size: $font-size-smaller;
        color: $green;
        top: 0.2rem;
    }

    input:invalid[wasBlured="true"]{
        outline: 1px solid $red;
        border: 1px solid $red;
    }
    
    input:invalid[wasBlured="true"] + span{
        font-size: $font-size-smaller;
        color: $red;
        top: 0.2rem;
    }

    input:invalid[wasBlured="true"] ~ p{
        display: block;
    }

}