@import '../../../../assets/css/variables';
@import '../../../../assets/css/_mixins';

.ProductsList{
    border: 1px solid $thinner-black;
    padding: .5rem;
    width: 100%;

    .Product{
        @include flex-row-start-center;
        gap: 1rem;
    }

    .Table{
        width: 100%;
        border-collapse: separate;  
        border-spacing: .5rem 1rem;

        .TableRow{
            width: 100%;
            background-color: $white;

            .TableHeader{
                text-align: left;
                font-size: $font-size-small;
                font-weight: 500;
            }
    
            .TableData{
                text-align: left;
                font-size: $font-size-smaller;
                font-weight: 400;

                max-width: 2rem;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }

        .TableRowLink{
            position: relative;
            cursor: pointer;
        }
        .TableRowLink::after{
            content: "";
            display: block;
            position: absolute;
            bottom: -4px;
            left: 0;
            height: 1px;
            border-bottom: 1px solid $thinner-black;
            width: 100%;
        }
        .TableRowLink:hover *{
            color: $deep-sky-blue;
        }
    }
    
}