$font-size-pp: 0.7rem;
$font-size-smaller: 0.9rem;
$font-size-small: 1rem;
$font-size-normal: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-large: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;


$black: rgb(0,0,0);
$almost-black: #121517;
$opaque-black: rgba(0,0,0,0.85);
$thin-black: rgba(0,0,0,0.24);
$thinner-black: rgba(0,0,0,0.08);

$darker-gray: #222830;
$dark-gray: rgb(83, 100, 113);
$gray: rgb(207, 217, 222);
$light-gray: #E3E3E3;
$lighter-gray: #F3F3F3;

$almost-white: rgb(247, 249, 249);
$white: rgb(255,255,255);

$dark-blue: rgb(26,140,216);
$blue: rgb(29, 155, 240);

$green: rgb(0,186,124);

$red: rgb(255,0,0);

$dark-pink: rgb(249,24,128);
$pink: rgb(255, 192, 203); 

$yellow: #FFC222;

