//base
*{
    margin: 0;
    box-sizing: border-box;
    //font-family: ;
}
code{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}
