@import '../../assets/css/variables';
@import '../../assets/css/_mixins';

.LoginPage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .LoginBG{
        flex-grow: 1;
        @include flex-column-center-center;
        width: 100%;
    
        background: radial-gradient(ellipse at right bottom, #b3178c 0%, #400f57 50%, #030243 100%);
    }
    
    .InfoLogin{
        flex: 1;
        @include flex-column-center-center;
        width: 25rem;
        max-height: 30rem;
        margin: 2rem;
        padding: 2rem;
        border: 1px solid $thinner-black;
        border-radius: .5rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
        background-color: $white;

        @include mq-small{
            width: 100%;
            max-height: 100%;
            margin: 0;
            border-radius: 0;
    
            background-color: $white;
            box-shadow: none;
        }
     
    }
     
    .InfoLogin h1{
        margin-bottom: 2rem;
        
        font-size: $font-size-large;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
    }

    .InfoLogin .Login-button{
        @include flex-column-end-center;
        width: 100%;
    }
    
    .InfoLogin button{
        width: 60%;
        margin-top: 1rem;
        padding: 0.7rem 0;
        border-radius: 5px;
    
        background-color: $black;
        color: $white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
       
        font-size: $font-size-small;
        
        transition: 200ms;
        cursor: pointer;
    
        @include mq-small{
            width: 50%;
            margin-top: 2rem;
        }
    }
    .InfoLogin button:hover{
        background-color: $white;
        color: $black;
        scale: (0.9);
    }

    .InfoLogin .Response-message{
        @include flex-column-center-center;
        margin-top: 1rem;
    }
    .InfoLogin .Response-message[visible="false"]{
        visibility: hidden;
    }
    .InfoLogin .Response-message[visible="true"]{
        visibility: visible;
    }

    .InfoLogin .Or{
        @include flex-row-center-center;
        width: 90%;
        gap: 1rem;
        margin: 1rem;
    
        .Line{
            flex: 1;
            border-top: 1px solid $black;
        }

        .OrWord{
            font-size: $font-size-normal;
            font-weight: 500;
        }
    }

    .Login-with-google-facebook{
        @include flex-row-start-center;
        width: 100%;
        gap: 1rem;
        border: 1px solid $opaque-black;
        border-radius: .5rem;
        padding: .5rem;
        margin-bottom: .5rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        cursor: help;

        img{
            @include icon-large;
        }

        span{
            font-size: $font-size-small;
        }
    }
    
    .Footer{
        @include mq-small{
            display: none;
        }
    }
}

