@import '../../assets/css/variables';
@import '../../assets/css/_mixins';

.NavBar{
    @include flex-column-center-center;

    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    
    background-color: $white;

    &-banner{
        @include flex-row-center-center;
        width: 100%;
        padding: .5rem;
        border-bottom: 1px solid $thin-black;

        &-sentence{
            font-size: $font-size-normal;
        
            .Normal-word{
                color: $black;
            }
            .Coloured-word{
                color: $red;
            }
        }

        .Van-Icon{
            @include icon-large;
            margin-left: .5rem;
        }
    }

    &-logo{
        @include image-small;
        margin: .5rem;

        @include mq-small{
            @include image-smaller;
        }
    }

    .NavBar-container-background{
        @include flex-row-center-center;
        width: 100%;
        background-color: $black;

        .NavBar-container{
            @include flex-row-center-center;
            width: 70%;
            padding: 1rem;
    
            .NavBar-logo{
                @include image-small;
                background-color: $white;
                padding: .2rem;
                transition: .1s;
            }
    
            .NavBar-logo:hover{
                opacity: .7;
                cursor: pointer;
            }
    
            .NavBar-searchBar{
                @include flex-row-center-center;
                flex: 2;
                margin: 0 2rem;
    
                .SearchBar-input{
                    flex: 1;
                    margin-right: .5rem;
                    border: none;
                    outline: none;
                    border-radius: .2rem;
                    padding: .5rem;

                    font-size: $font-size-smaller;
                }
    
                .SearchBar-icon{
                    @include icon-normal;
                    fill: $white;
                    min-width: 1.2rem;
                    transition: 200ms;
                    cursor: pointer;
                }
                .SearchBar-icon:hover{
                    opacity: .7;
                }
            }
    
            .NavBar-user-toolbar{
                @include flex-row-center-center;
                gap: .5rem;
                margin: .5rem;
            }
    
        }

    }
    
}
