@import '../../../../../assets/css/variables';
@import '../../../../../assets/css/_mixins';

.EditProduct{
    z-index: 1001;

    .EditProductOverlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $opaque-black;
        backdrop-filter: blur(2px);
        z-index: 1002;
    }

    .EditProduct-form{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        @include flex-column-start-center;
        gap: 1rem;
        padding: 1rem;
        max-height: 80%; //tamanho maximo da tela - tamanho maximo do inicio da tela ate o componente - 1rem do padding do fundo
        min-width: 350px;
        max-width: 80%;
        background-color: $white;
        box-shadow: rgb(50 50 105 / 15%) 0px 2px 5px 0px, rgb(0 0 0 / 5%) 0px 1px 1px 0px;

        overflow: auto;
        z-index: 1003;

        .ComponentTitle{
            width: 100%;
            text-align: center;
            padding: 1rem 0;
            border-bottom: 1px solid $thin-black;

            font-size: $font-size-normal;
            font-weight: 500;
        }

        .FormField{
            @include flex-column-center-center;
            gap: .5rem;

            &-label{
                font-size: $font-size-smaller;
                color: $purple;
                margin-right: 1rem;
            }

            &-inputs{
                @include flex-row-start-center;
                flex-wrap: wrap;
                gap: .5rem;
            }
        }

        .Submit-button{
            background-color: $black;
            padding: .5rem 1rem;
            border: 1px solid $opaque-black;
            border-radius: .2rem;
            outline: none;

            font-size: $font-size-small;
            color: $white;
            font-weight: 500;

            transition: 200ms all;
            cursor: pointer;
        }
        .Submit-button:hover{
            background-color: $opaque-black;
        }

        .ServerResponse{
            display: none;
        }
        .ServerResponse[visible="true"]{
            display: block;
        }
    }
}

.EditProduct[visible="false"]{
    display: none;
}