@import '../../assets/css/variables';
@import '../../assets/css/_mixins';


.AddressesPage{
    @include flex-column-start-center;
    min-height: 100vh;

    background-color: $lighter-gray;

    .AddressesPage-container{
        flex-grow: 1;
        @include flex-column-start-center;
        width: 70%;
        background: $white;

        .Page-title{
            font-size: $font-size-medium;
            font-weight: 500;
            margin: 2rem 0;
        }
    }
}