@import '../../assets/css/variables';
@import '../../assets/css/_mixins';


.AddressesPage{
    @include flex-column-start-center;
    min-height: 100vh;

    background-color: $lighter-gray;

    .AddressesPage-container{
        flex-grow: 1;
        @include flex-column-start-center;
        width: 70%;
        background: $white;

        .Page-title{
            font-size: $font-size-medium;
            font-weight: 500;
            margin: 2rem 0;
        }

        .AddAddress-box{
            @include flex-column-center-center;
            gap: 1rem;
            width: 18rem;
            height: 13rem;
            border: 1px dashed $black;
            border-radius: .4rem;
            margin: .5rem 0;

            cursor: pointer;

            .AddIcon{
                @include icon-xl;
            }

            .Message{
                font-size: $font-size-normal;
            }
        }

        .Address-box{
            @include flex-column-center-start;
            gap: 1rem;
            min-width: 18rem;
            height: 13rem;
            padding: 1rem;
            border: 1px solid $thin-black;
            border-radius: .4rem;
            margin: .5rem 0;

            .DefaultAddress{
                font-size: $font-size-mini;
                color: $dark-gray;

                text-decoration: underline;
            }

            &-infos{
                @include flex-column-center-start;
                gap: .2rem;

                .info{
                    font-size: $font-size-smaller;
                    font-family: Arial, Helvetica, sans-serif;
                }

                .ReceiverName{
                    font-weight: 600;
                }
            }

            &-toolbar{
                @include flex-row-start-center;
                gap: .2rem;

                .Button{
                    outline: none;
                    border: 1px solid $thin-black;
                    border-radius: .2rem;
                    padding: .2rem;
                    background-color: $light-gray;
                    font-weight: 500;   

                    transition: all 200ms;
                    cursor: pointer;
                }
                .Button:hover{
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }
}