@import '../../assets/css/variables';
@import '../../assets/css/_mixins';

.ProductCard{
    @include flex-column-start-center;
    width: 200px;
    height: 300px;
    border: 1px solid $thinner-black;
    position: relative;
    
    .Image{
        width: 100%;
        height: 200px;
        border-bottom: 1px solid $thinner-black;
        margin-bottom: .2rem;
    }

    .Title{
        width: 100%;
        padding: 0 .5rem;
        margin-bottom: 1rem;
        text-align: left;
        font-size: $font-size-mini;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @supports(-webkit-line-clamp: 2){
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        
    }

    .Price{
        font-size: $font-size-smaller;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
    }
    
    .Rating{
        position: absolute;
        bottom: .5rem;
        left: .5rem;
    }
    
}