@import '../../../assets/css/variables';
@import '../../../assets/css/_mixins';

.Rating-container{
    @include flex-row-center-start;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid $thinner-black;

    .User-picture{
        @include icon-xl;
        object-fit: cover;
        border-radius: 50%;
        margin-right: .5rem;

        transition: all 200ms;
    }
    .User-picture:hover{
        filter: grayscale(30%);
    }

    .Rows{
        @include flex-column-center-start;
        width: 100%;
        gap: .2rem;

        .Row-1{
            @include flex-row-start-center;
            width: 100%;
            gap: 1rem;
    
            .User-name{
                font-size: $font-size-smaller;
                font-weight: 500;
            }
    
            .Rating-date span{
                font-size: $font-size-smaller;
                font-weight: 400;
                font-family: Arial, Helvetica, sans-serif;
                color: $dark-gray;
            }
        }
    
        .Row-2{
            span{
                font-size: $font-size-smaller;
                font-weight: 500;
                color: $dark-gray;
            }
        }

        .Row-4{
            margin: 1rem 0;

            .Comment{
                font-size: $font-size-small;
                font-weight: 400;
                font-family: Arial, Helvetica, sans-serif;
                color: $darker-gray;
            }
        }

        .Row-5{
            @include flex-column-start-start;
            gap: .2rem;

            .Midias{
                @include flex-row-start-center;
                gap: .2rem;

                .Midia{
                
                    img{
                        @include image-small;
                        transition: all 200ms;
                        cursor: pointer;
                    }
                    img:hover{
                        filter: grayscale(30%);
                    }
                }
 
            }

            .OpenMidia{
                display: none;
                width: 100%;
                height: auto;
            }
            .OpenMidia[data-state="open"]{
                display: block;
            }
            
        }

    }
}